* {
	padding:0px;
	margin:0px;
}
html, body, ul, li, h1, h2, h3, h4, h5, h6, fieldset, legend {
	padding:0;
	margin:0;
}

html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
ul, li {
	list-style-type:none;
	text-transform:capitalize;
}
.clear {
	clear:both;
*display:inline;/*IE only*/
}
img {
	border:0px;
}
img, object { max-width: 100%;}
body {
	background-color:#000;
}
.menu{
	/*width: 32em;*/
	margin: 0 auto;
	height: 96em;
	background-color:#efeeec;
}
/*@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
	.menu{
		width: 64em;
		height: 10em;
	}

}*/
.topnav{
	position: relative;
	width: 100%;
	height: 96px;
	line-height: 88px;
	background: url(../images/index/bj.jpg) repeat-x;
	background-position: bottom;
	text-align: center;
}
.topnav .title{
	font-size: 28px;
	font-weight: bold;
}
.topnav .logo{
	position: absolute;
	display: block;
	top: 50%;
	margin-top: -30px;
	left: 20px;
}
.images{text-align: center; margin-top:90px; }



.ysbj{
 	background:url(../images/index/enbj.jpg) no-repeat;
 	background-size: 32em;
 	background-position: center;
	height:603px; margin-top:50px;
}
.img{padding-top: 90px; text-align: center; }
.img img{
	max-width: 280px;
}
.text{ padding-top:10px;
	text-align: center;
	 height:50px;
	 /*line-height: 50px;*/
	 margin-top:30px;
 	font-size: 1.2em; overflow:hidden;}
.add{width: 22em;margin: 0 auto; font-size: 1.2em; padding-top: 2.5em; color:#666;   }
.tj{ margin-top:70px; text-align:  center;}